.head_text {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.92);
  color: transparent;
}

.back_btn {
  padding: 2px 9px;
  color: white;
  border-radius: 5px;
  border: 0.6px solid;
  scale: 1.1;
}

.back_btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 0.3s;
  scale: 1.2;
}
