/* @font-face {
  font-family: "arial";
  src: url("/fonts/ArtelyInksPersonalUse-vpWL.woff") format("woff");
} */
@font-face {
  font-family: "CosiAzure";
  src: url("/fonts/CosiAzure-Bold.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
.head_container {
  text-align: center;
  position: relative;
  width: 90%;
  padding-top: 5rem;
  margin-bottom: 1rem;
}

.head_container .bg_header {
  position: absolute;
  font-size: 4.3rem;
  color: rgba(171, 167, 167, 0.4);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(203, 200, 200);
  color: #6662622e;
  z-index: -1;
  left: -1px;
  top: 3rem;
  opacity: 0.7;
}

.Intro_head {
  font-family: "CosiAzure";
  font-size: 3.5rem;
  font-weight: 800;
  color: #fff;

  margin-bottom: 4rem;
}

.bg_img_section {
  top: 15%;
}

.img_eye {
  opacity: 0.4;
  width: clamp(170px, 19rem, 100%);
}
.main_header {
  word-spacing: 2px;
}

h3.description {
  font-family: "Poppins", sans-serif;
  color: #bfbfbff0;
  margin-bottom: 5rem;
  padding: 1rem 5rem;
  font-size: 1.2rem;
  line-height: 1.3;
  line-break: auto;
}

.Intro_tech {
  font-size: 2rem;

  margin-left: 4rem;
}
.Intro_tech ul {
  list-style: inside;
}

.goBtn {
  position: relative;
  padding: 1.6rem 6rem;
  border-radius: 15px;
  background: #72727224;
  border-color: #ffffff26;
  transition: all 0.3s ease-out;
  margin-bottom: 4rem;
}

.goBtn:hover {
  background: #7272724d;
  /* scale: 1.02; */
  font-size: 1.01rem;
  color: #fff;
  box-shadow: 0px 0 14px -2px #fffdfdbd, 0 0 6px 0px #696262bf;
}

.img_sec {
  /* width: clamp(13rem, 62px, 100px); */
  /* background: white; */
  border-radius: 12px;
  margin-right: 10px;
}

.tech_item {
  grid-template-columns: 1fr auto;
  transition: all 0.3s ease-out;
  padding: 10px 2rem 10px 10px;
  border-radius: 10px;
  backdrop-filter: blur(4rem);
  min-height: 6rem;
  align-content: center;
}

.tech_item:hover {
  background: #28252f66;
}

.tech_item .details {
  align-self: center;
}
@media screen and (max-width: 640px) {
  .Intro_head {
    font-size: 2.7rem;
  }
  .head_container .bg_header {
    font-size: 3rem;
    left: -16px;
    top: 2rem;
    opacity: 0.6;
  }
  h3.description {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 460px) {
  .Intro_head {
    font-size: 2.7rem;
  }
  .head_container .bg_header {
    font-size: 3.3rem;
    left: -16px;
  }

  .bg_img_section {
    top: 10%;
  }

  h3.description {
    padding: 0;
    font-size: 1.03rem;
  }
  .bg_header_ExtraLine {
    display: none;
  }

  .Intro_tech {
    font-size: 1.7rem;
    margin-left: 2rem;
  }

  .Intro_tech ul {
    list-style: initial;
  }
  .img_sec {
    width: 5rem;
  }
}
