.logo_section {
  padding: 2rem 1rem;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  /* font-family: "NeverWinter"; */
}

.NavBar_section {
  border-right: 1px solid white;
}

nav {
  padding: 0 1rem;
}

.nav_items {
  cursor: pointer;
  margin: 1rem 0;
  width: 100%;
  height: 6rem;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8901960784);
}

.nav_items::before {
  content: "  ";
  width: 2.5rem;
  height: 3.8rem;
  position: absolute;
  margin-top: 14px;
  border-radius: 10px;
  z-index: 0;
  opacity: 0.3;
  transition: all 0.18s ease-in;
}

.nav_items:hover::before {
  opacity: 1;
}

/* Distinguish Which button Clicked Now */
/* .active {
  color: white !important;
} */
.active::before {
  opacity: 1;
}

.nav_items .nav_button {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 2rem;
  /* backdrop-filter: blur(20px) saturate(2); */
  -webkit-backdrop-filter: blur(1.56rem) saturate(200%);
  backdrop-filter: blur(1.56rem) saturate(200%);
  border-radius: 15px;
  background: rgba(31, 31, 37, 0.6470588235);
  position: relative;
  z-index: 3;
  margin-left: 3px;
  border: 1px solid rgba(145, 144, 143, 0.65);
  font-size: 16px;
  transition: background 0.11s ease-in;
}

.nav_items .nav_button:hover {
  background: rgba(31, 31, 37, 0.3215686275);
}

.active .nav_button {
  background: rgba(28, 28, 28, 0.4);
}

.NavBar_section .bottom_section {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-left: 1.5rem;
  position: relative;
  z-index: 3;
}

.NavBar_section .bottom_section span.auth_link {
  margin-left: 5px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2196078431);
  padding: 5px 10px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1098039216);
  transform: all 0.3s ease-in;
}

.NavBar_section .bottom_section span.auth_link:hover {
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 2px 2px 7px -1px #8f8f8fbf, inset 2px 2px 4px 0px #75757575;
}
