.logo_section {
  padding: 2rem 1rem;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  /* font-family: "NeverWinter"; */
}

.NavBar_section {
  border-right: 1px solid white;
}

nav {
  padding: 0 1rem;
}

.nav_items {
  cursor: pointer;
  margin: 1rem 0;
  width: 100%;
  height: 6rem;
  border-radius: 5px;
}

.nav_items::before {
  content: "  ";
  width: 2.5rem;
  height: 3.8rem;
  position: absolute;
  margin-top: 14px;
  border-radius: 10px;
  z-index: 0;
  opacity: 0.3;
  transition: all 0.18s ease-in;
}

.nav_items:hover::before {
  opacity: 1;
}
/* Distinguish Which button Clicked Now */
.active::before {
  opacity: 1;
}

.nav_items .nav_button {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 2rem;
  backdrop-filter: blur(20px) saturate(2);
  border-radius: 15px;
  background: #1f1f25a5;
  position: relative;
  z-index: 3;
  margin-left: 3px;
  border: 1px solid rgba(145, 144, 143, 0.65);
  font-size: 16px;
  transition: background 0.11s ease-in;
}

.nav_items .nav_button:hover {
  background: #1f1f2552;
}
.active .nav_button {
  background: #1c1c1c66;
}

.NavBar_section .bottom_section {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-left: 1.5rem;
  position: relative;
  z-index: 3;
}

.NavBar_section .bottom_section span.auth_link {
  margin-left: 5px;
  font-size: 14px;
  border: 1px solid #ffffff38;
  padding: 1px 8px;
  border-radius: 4px;
  background: #ffffff1c;
}
