.header {
  h1 {
    font-size: 3rem;
  }
}

.input {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 6px;
  height: 4rem;
  display: flex;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.16), -5px -5px 11px 0 rgba(154, 154, 154, 0.2);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
  input {
    border: none;
    outline: none;
    background: none;
    background: transparent;
    width: 100%;
    padding-left: 15px;
  }
  input[type="text"] {
    font-size: 1.4rem;
    color: #e6e4e4e8;
    font-family: w;
  }
  input::placeholder {
    color: #bebbbb9e;
    font-size: 1.2rem;
  }

  input:focus {
    border: none;
    outline: none;
    box-shadow: inset 8px 8px 16px 0 rgba(16, 15, 15, 0.27),
      inset -6px -8px 16px 0 rgba(143, 143, 143, 0.18);
    border-radius: 6px;
  }
}

button.submit_btn {
  padding: 8px 2rem;
  border: 1px solid #9f9c9c5e;
  border-radius: 10px;
  box-shadow: 5px 5px 18px 0 rgba(0, 0, 0, 0.44), -8px -8px 10px -4px rgba(255, 255, 255, 0.12);
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.31), rgba(255, 255, 255, 0.19));
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffffad;
}
.submit_btn:hover {
  color: white;
}

@media screen and (min-width: 990px) and (max-width: 1162px) {
  .input {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .input {
    width: 60%;
  }
}
