.user_section {
  padding: 1rem 0.5rem;
  border: 1px solid #ffffff12;
  background: #d9d0d029;
  backdrop-filter: blur(7rem);
  border-radius: 10px;
  background: linear-gradient(45deg, #ada8a80a, #cfcfcf14, #ffffff1f);
}

.greeting {
  h1 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(211, 211, 211, 0.67))
      padding-box text;
    color: unset;
  }
}

.header_name {
  h1 {
    word-spacing: -6px;
    /* font-weight: 600; */
  }
}

.gitBtn {
  padding: 3px 10px;
  border: 1px solid #ffffff30;
  margin-top: 1rem;
  border-radius: 7px;
  background: #d7d1d10f;
  transition: background 0.2s ease-in-out;
}
.gitBtn:hover {
  background: #d7d1d126;
}

.details_tag {
  font-size: 2.4rem;
  margin-bottom: 15px;
}
.special_box {
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ffffff1c;
}
.contact_details,
.user_contact_details_text {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }
  span {
    margin-left: 5px;
  }
}

.card_design {
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid #aaf3ff26;
  background: #ffffff1c;
  backdrop-filter: blur(400px) saturate(1.2);
  background-blend-mode: overlay;
  transition: 0.5s;
}

.card_design::before {
  content: "";
  position: absolute;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  mask-image: linear-gradient(transparent, black);
  transition: 0.5s;
}

.user_contact_details {
  padding-bottom: 20px;
}

.card_design::before {
  background: linear-gradient(110deg, #fff0, #7deffb0a, #00e7ff70);
}
.card_design:hover::before {
  background: linear-gradient(94deg, #fff0, #7dfbea0a, #00ffc370);
}
/* .right_view_box::before {
  background: linear-gradient(94deg, #fff0, #7deffb0a, #00ffc370);
} */
.right_view_box {
  min-width: 13vw;
  padding: 13px 25px 27px 25px;
}
.details_item,
.contact_details {
  color: #d5d5d5;
  transition: all 0.3s ease-in;
  h1,
  span {
    transition: all 0.2s ease-in;
  }
}

.details_item:hover,
.contact_details:hover {
  color: #c5bebeca;
  h1,
  span {
    scale: 1.07;
  }
}

@media screen and (min-width: 1050px) {
  .user_section {
    width: 84%;
    /* padding: 1.5rem; */
  }
}

@media screen and (min-width: 640px) and (max-width: 940px) {
  .details_sec_box {
    flex-direction: column;
  }
  .right_view_box {
    order: 1;
  }
}
@media screen and (min-width: 700px) and (max-width: 886px) {
  .name_section {
    padding-left: 2rem;
    padding-right: 0;
  }
}
@media screen and (min-width: 700px) and (max-width: 870px) {
  .header_img {
    width: 10rem;
  }
  .name_section {
    padding-left: 2rem;
    padding-right: 0;
  }
  .header_name h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 700px) {
  .header_section {
    flex-direction: column;
  }
  .name_section {
    padding-left: 0;
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 640px) {
  .user_section {
    padding: 2rem;
  }
  .header_name h1 {
    font-size: 3.25rem;
  }

  .details_sec_box {
    padding: 0 2.7rem;
  }
}

@media screen and (max-width: 600px) {
  .details_sec_box {
    flex-direction: column;
  }
  .right_view_box {
    order: 1;
  }
}
@media screen and (max-width: 450px) {
  .header_name h3 {
    margin-top: 4px;
  }
}
