.greeting {
  h1 {
    font-size: 3.3rem;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(211, 211, 211, 0.67))
      padding-box text;
    color: unset;
  }
}
